<!-- scrollToTop -->
<div class="scrollToTop"><i class="icon-up-open-big"></i></div>

<!-- header start -->
<header class="header fixed clearfix navbar navbar-fixed-top">
  <div class="container">
    <div class="row">

      <div class="col-md-4 col-xs-6">
        <img src="assets/images/LogoPrimeroDiessel.png" alt="Logo" style="height: 100%;margin-top: 18px;">
        <!-- header-left start -->
        <div class="header-left">
          <!-- name-and-slogan -->
          <div class="logo-section smooth-scroll">
            <div class="brand">
              <!-- <img class="logoprimero" src="C:\paginas web\PRIMERO DIESSEL\web/logo primero Diessel.png"
                alt="Girl in a jacket"> -->
            </div>
          </div>

        </div>
        <!-- header-left end -->

      </div>
      <div class="col-md-8">

        <!-- header-right start -->
        <div class="header-right">

          <!-- main-navigation start -->
          <div class="main-navigation animated">

            <!-- navbar start -->
            <nav class="navbar navbar-default" role="navigation">
              <div class="container-fluid">

                <!-- Toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#slides">Inicio</a></li>
                    <li><a href="#about">Quienes Somos</a></li>
                    <li><a href="#queOfrecemos">¿Que Ofrecemos?</a></li>
                    <li><a href="#menu">Productos</a></li>

                    <!-- <li><a href="#portfolio">Work</a></li>
                    <li><a href="#price">Price</a></li> -->
                    <li><a href="#contact">Contactos</a></li>
                  </ul>
                </div>

              </div>
            </nav>
            <!-- navbar end -->

          </div>
          <!-- main-navigation end -->

        </div>
        <!-- header-right end -->

      </div>
    </div>
  </div>
</header>
<!-- header end -->

<div id="slides" class="cover-slides" style="position: relative; overflow: hidden; width: 100%; height: 657px;">
  <div class="slides-control" style="position: relative; height: 100%; width: 1080px;">
    <ul class="slides-container"
      style="margin: 0px; padding: 0px; list-style: none; position: relative; height: 100%; display: block;">
      <li class="text-left"
        style="display: none; left: 360px; position: absolute; overflow: hidden; height: 100%; width: 360px; top: 0px; z-index: 0; opacity: 1;">
        <img src="assets/images/Slider1.jpg" alt=""
          style="backface-visibility: hidden; position: absolute; left: -312.75px; top: 0px; z-index: -1; max-width: none; height: 657px; width: 985.5px;">
        <div class="container">
          <div class="row">
            <div class="col-md-12 inicioSlider" style="margin-top: 200px;">
              <h1 class="m-b-20"><strong><br> Estamos para ayudarte</strong></h1>
              <p class="m-b-40">Primero Diesel, soluciones efectivas al alcance de tu mano.</p>
              <p><a class="btn btn-lg btn-circle btn-outline-new-white  scrollspy smooth-scroll" href="#menu">Nuestros
                  Productos</a></p>
            </div>
          </div>
        </div>
        <div class="overlay-background"></div>
      </li>
      <li class="text-left"
        style="display: block; left: 360px; position: absolute; overflow: hidden; height: 100%; width: 360px; top: 0px; z-index: 2; opacity: 0.505236;">
        <img src="assets/images/Slider2.jpg" alt=""
          style="backface-visibility: hidden; position: absolute; left: -312.75px; top: 0px; z-index: -1; max-width: none; height: 657px; width: 985.5px;">
        <div class="container">
          <div class="row">
            <div class="col-md-12 inicioSlider" style="margin-top: 200px;">
              <h1 class="m-b-20"><strong><br> Servicio de guardia <br> las 24 horas.</strong></h1>
              <p class="m-b-40">Primero Diesel, soluciones efectivas al alcance de tu mano.</p>
              <p><a class="btn btn-lg btn-circle btn-outline-new-white  scrollspy smooth-scroll" href="#menu">Nuestros
                  Productos</a></p>
            </div>
          </div>
        </div>
        <div class="overlay-background"></div>
      </li>
      <li class="text-left"
        style="display: block; left: 360px; position: absolute; overflow: hidden; height: 100%; width: 360px; top: 0px; z-index: 0; opacity: 0.497382;">
        <img src="assets/images/Slider3.jpg" alt=""
          style="backface-visibility: hidden; position: absolute; left: -312.75px; top: 0px; z-index: -1; max-width: none; height: 657px; width: 985.5px;">
        <div class="container">
          <div class="row">
            <div class="col-md-12 inicioSlider" style="margin-top: 200px;">
              <h1 class="m-b-20"><strong><br> Ofrecemos gran variedad de repuestos y accesorios.</strong></h1>
              <p class="m-b-40">Primero Diesel, soluciones efectivas al alcance de tu mano.</p>
              <p><a class="btn btn-lg btn-circle btn-outline-new-white  scrollspy smooth-scroll" href="#menu">Nuestros
                  Productos</a></p>
            </div>
          </div>
        </div>
        <div class="overlay-background"></div>
      </li>
    </ul>
  </div>
  <div class="slides-navigation">
    <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
    <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
  </div>
  <nav class="slides-pagination">
    <a href="#1" class="">1</a>
    <a href="#2" class="">2</a>
    <a href="#3" class="">3</a>
  </nav>
</div>

<!-- banner end -->
<!-- <section class="hero-caption secPadding">

  <div class="container">

    <div class="row " style="margin-top: 0px;">
      <div class="col-sm-12">
        <h1>¿Nesecitas
          un repuesto y no
          es horario de atención?</h1>
        <h2><i class="fa fa-phone-square" aria-hidden="true"></i> <strong> GUARDIA ACTIVA</strong></h2>
        <h1>351 - 6878091</h1>
      </div>

    </div>

  </div>

</section> -->

<section class="hero-caption secPadding">  

  <video style="width: 100%;" #videoPlayer
    src="../assets/images/PrimeroDieselGuardiaGif.mp4">

    Browser not supported
  </video>
</section>

<!-- <div class="default">
  <video muted autoplay loop playsinline #videoPlayer src="../assets/images/PrimeroDieselGuardiaGif.mp4">

    Browser not supported
  </video>
</div> -->
<!-- section start -->
<section id="queOfrecemos" class="fullwidth-block dark-bg sectionQueOfrecemos" data-bg-color="#f63f3f"
  style="background-color:#27753d;">

  <div class="container">
    <h2 _ngcontent-vfj-c16="" class="section-title" style="
    font-weight: 900;
">¿Que Ofrecemos?</h2>
    <ul class="news">
      <li>
        <div class="entry-date">
          <img src="assets/images/Icono1.png" class="iconQueOfrecemos" alt="Table Setting">
          <!-- <span class="date">3</span><span class="month">July</span> -->
        </div>
        <div class="entry-summary">ASESORAMIENTO: contamos con personal idóneo en la materia que te ayudará a encontrar
          repuestos y accesorios indicados para tu vehículo pesado. Además, con servicio de reparación integral
          de frenos neumáticos y guardia las 24 hs. </div>
      </li>
      <li>
        <div class="entry-date">
          <img src="assets/images/Icono2.png" class="iconQueOfrecemos" alt="Table Setting">
          <!-- <span class="date">30</span><span class="month">June</span> -->
        </div>
        <div class="entry-summary">REPUESTOS: para motores, transmisiónes, frenos de aire, inyección diesel, etc. .
          Productos
          de gran variedad y stock en sus marcas originales y optativas de: Mercedes Benz, Perkins, Ford, Cummings,
          Iveco, Scania, John Deere, Volkswagen etc.</div>
      </li>
      <li>
        <div class="entry-date">
          <img src="assets/images/Icono3.png" class="iconQueOfrecemos" alt="Table Setting">
          <!-- <span class="date">28</span><span class="month">June</span> -->
        </div>
        <div class="entry-summary">ACCESORIOS: correas, filtros, lubricantes, aditivos, herramientas para el motor,
          frenos de aire, válvulas de aire, Compresores nuevos y reparados, de la mayor calidad para cuidar de la mejor
          manera tus vehículos pesados. </div>
      </li>
    </ul>
  </div>


</section>
<!-- section end -->

<!-- section start -->
<section class="section clearfix no-view secPadding" data-animation-effect="fadeIn">
  <div class="w3-row" id="about" style="padding-right: 15px;">
    <div class="w3-col m6">
      <img src="assets/images/QuienesSomos.jpg" class="w3-round w3-image w3-opacity-min" alt="¿Quienes Somos?"
        width="625" height="750" style=" border-radius: 25px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;">
    </div>

    <div class="w3-col m6 mobile" style="padding-right: 40px;">
      <h1 class="w3-center">¿Quienes Somos?</h1><br>
      <!-- <h5 class="w3-center">Tradition since 1889</h5> -->
      <p class="w3-large">Somos una empresa dedicada a comercializar gran variedad de repuestos y accesorios para
        vehículos pesados
        ubicada en Río Primero provincia de Córdoba.
        Contamos con un equipo especializado y capacitado para brindarles la mejor atención personalizada, con
        productos de calidad, originales y optativos de:
        <span class="w3-tag w3-light-grey">Mercedes Benz, Perkins, Ford, Cummins , Iveco, Scania,
          John Deere, Volkswagen, acoplados, etc.</span>
      </p>
      <p class="w3-large w3-text-grey w3-hide-medium"> Nuestra misión es brindar soluciones efectivas en tu trabajo por
        esto ofrecemos servicio de guardia 24 hs,
        con personal idóneo a cargo.</p>
    </div>
  </div>


</section>
<!-- section end -->

<!-- section start -->
<div class="default-bg colord secPadding">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="text-center"> PRIMERO DIESEL</h1>

      </div>
    </div>
  </div>
</div>
<!-- section end -->
<!-- section start -->

<div id="menu" class="menu-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="heading-title text-center">
          <h1 style="    font-size: 25px;
            font-weight: 700;
            margin-bottom: 20px;">ALGUNOS DE NUESTROS PRODUCTOS</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="special-menu text-center">
          <div class="button-group filter-button-group">
            <button class="btnMenu active" data-filter="*">Todos</button>
            <button class="btnMenu" data-filter=".drinks">Repuestos</button>
            <button class="btnMenu" data-filter=".lunch">Accesorios</button>
            <!-- <button data-filter=".dinner">Dinner</button> -->
          </div>
        </div>
      </div>
    </div>

    <div class="row special-list">

      <div class="col-lg-4 col-md-6 special-grid drinks" *ngFor="let item of [].constructor(61); let i = index">
        <div class="gallery-single fix">
          <img src="assets/images/Repuestos/{{i + 1}}.jpg" class="img-fluid" alt="Image">
          <div class="why-text">
            <h4>Primero Diesel</h4>
            <!-- <p>Sed id magna vitae eros sagittis euismod.</p>
            <h5> $9.79</h5> -->
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 special-grid lunch" *ngFor="let item of [].constructor(12); let i = index;">
        <div class="gallery-single fix">
          <img src="assets/images/Accesorios/{{i+1}}.jpg" class="img-fluid" alt="Image">
          <div class="why-text">
            <h4>Primero Diesel</h4>
            <!-- <p>Sed id magna vitae eros sagittis euismod.</p>
            <h5> $15.79</h5>  -->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- section end -->
<!-- section start -->
<section class="default-bg colord secPadding">
  <div class="container">
    <h2 class="text-center"
      style="font-weight: 900;margin-top: 0px;margin-bottom: 0px;padding-top: 20px;padding-bottom: 20px;">
      NUESTRAS MARCAS
    </h2>
    <div class="row">
      <div class="rc-rcbrand-container">
        <div class="rc-rcbrand-inner">
          <ul id="rcbrand1" class="rc-rcbrand-ul" style="left: -2155.5px;">
            <li class="rc-rcbrand-item" style="width: 250px;"><img src="assets/images/Logos/1.png"></li>
            <li class="rc-rcbrand-item" style="width: 250px;"><img src="assets/images/Logos/2.png"></li>
            <li class="rc-rcbrand-item" style="width: 250px;"><img src="assets/images/Logos/3.png"></li>
            <li class="rc-rcbrand-item" style="width: 250px;"><img src="assets/images/Logos/4.png"></li>
            <li class="rc-rcbrand-item" style="width: 250px;"><img src="assets/images/Logos/5.png"></li>
            <li class="rc-rcbrand-item" style="width: 250px;"><img src="assets/images/Logos/6.png"></li>
            <li class="rc-rcbrand-item" style="width: 250px;"><img src="assets/images/Logos/7.png"></li>
            <li class="rc-rcbrand-item" style="width: 250px;"><img src="assets/images/Logos/8.png"></li>
            <li class="rc-rcbrand-item" style="width: 250px;"><img src="assets/images/Logos/9.png"></li>
            <li class="rc-rcbrand-item" style="width: 250px;"><img src="assets/images/Logos/10.png"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- footer start -->
<footer id="footer">

  <div class="fullwidth-block content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center">
          <h2
            style="font-weight: 900; margin-top: 0px; margin-bottom: 0px; padding-top: 20px; padding-bottom: 20px; color: #1F1F1F;">
            ENVIA TU CONSULTA</h2>

          <form action="#" class="contact-form" [formGroup]='forma' (ngSubmit)="SubmitContactForm()">
            <div [ngClass]="{ 'has-error': submitted && f.nombre.errors }">
              <input type="text" id="name" placeholder="Nombre" formControlName="nombre">
              <div *ngIf="submitted && f.nombre.errors" class="has-error">
                <div *ngIf="f.nombre.errors.required">Este campo es requerido</div>
              </div>
            </div>

            <div [ngClass]="{ 'has-error': submitted && f.email.errors }">
              <input type="email" id="email" placeholder="Email" formControlName="email">
              <div *ngIf="submitted && f.email.errors" class="has-error">
                <div *ngIf="f.email.errors.required">Este campo es requerido</div>
              </div>
              <div *ngIf="submitted && f.email.errors" class="has-error">
                <div *ngIf="f.email.errors.email">Ingrese un Email valido</div>
              </div>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': submitted && f.message.errors }">
              <textarea id="message" placeholder="Mensaje" formControlName="message"> </textarea>
              <div *ngIf="submitted && f.message.errors" class="has-error">
                <div *ngIf="f.message.errors.required">Este campo es requerido</div>
              </div>
            </div>

            <!-- <input type="text" id="name" placeholder="Nombre..."> -->
            <!-- <input type="text" id="email" placeholder="Email...">
            <textarea name="" id="message" placeholder="Mensaje..."></textarea> -->


            <div class="text-right">
              <input type="submit" value="Enviar Mensaje">
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <div class="space-35"></div>
          <!-- <h2 class="entry-title"> </h2> -->
          <div class="map-container">
            <div class="wow fadeInUp col-md-12 col-sm-12" data-wow-delay="0.4s">
              <div id="google-map">
                <div style="width: 100%">
                  <iframe width="100%" height="180" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="https://maps.google.com/maps?q=primero%20diesel&t=&z=17&ie=UTF8&iwloc=&output=embed">
                  </iframe>
                </div>
              </div>
            </div>
          </div>
          <div class="map-container">
            <div class="wow fadeInUp col-md-12 col-sm-12" data-wow-delay="0.4s">
              <div id="google-map">
                <div style="width: 100%">
                  <iframe width="100%" height="180" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="https://www.google.com/maps?q=Primero%20Diesel%20-%20Frenos%20Pesados%2C%20Jujuy%2C%20R%C3%ADo%20Primero%2C%20C%C3%B3rdoba%2C%20Argentina&z=17&t=&ie=UTF8&output=embed">
                  </iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- .footer start -->
  <div class="footer section">
    <div class="container">
      <div class="space"></div>
      <h1 class="title text-center" id="contact">Contactos</h1>
      <div class="space"></div>
      <div class="row">

        <div class="col-sm-12 text-center">
          <div class="footer-content">

            <div class="widget-content">
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel nam magnam natus tempora cumque, aliquam
                deleniti voluptatibus voluptas. Maecenas ultrices finibus erat sit amet auctor. Curabitur et metus
                laoreet, fermentum quam sagittis, cursus augue. </p><br /> -->

              <p class="contacts"><i class="fa fa-map-marker"></i>
                Sarmiento esq. Poeta Lugones 5127 Río Primero, Córdoba, Argentina
              </p>

              <p class="contacts"><i class="fa fa-phone"></i> 03574 421392</p>
              <p class="contacts"><i class="fa fa-phone-square" aria-hidden="true"></i> (GUARDIA) - 3516878091</p>

              <p class="contacts"><i class="fa fa-envelope"></i> Consultas@Primerodiesel.com.ar</p>

            </div>

            <!-- </aside> -->
            <ul class="social-links">
              <li class="facebook"><a target="_blank" href="https://www.facebook.com/Primero-Diesel-302025700672551/"><i
                    class="fa fa-facebook"></i></a></li>
              <li class="twitter"><a target="_blank" href="https://www.instagram.com/primerodiesel/"><i
                    class="fa fa-instagram"></i></a></li>
              <!-- <li class="googleplus"><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
              <li class="skype"><a target="_blank" href="#"><i class="fa fa-skype"></i></a></li>
              <li class="linkedin"><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li class="youtube"><a target="_blank" href="#"><i class="fa fa-youtube"></i></a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- .footer end -->

  <!-- .subfooter start -->
  <div class="subfooter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="text-center">Copyright © 2021. Todos Los Derechos Reservados.
            <!-- <a href="https://webthemez.com/tag/free"
              target="_blank">Free HTML Templates</a> by WebThemez.com  -->
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- .subfooter end -->

</footer>
<!-- footer end -->